/* Hamburger menu */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #EEEAE4; /*baggrundsfarve på hjemmesiden*/
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bar-width: 55px;
  --bar-height: 6px;
  --hamburger-gap: 6px;
  --foreground: #333; /*farve på hamburger bar*/
  --foreground-navbar: #B9AFA1; /*baggrundsfarve i menuen*/
  --background: #333;
  --hamburger-margin: 50px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2); /*der er tre barer og mellemrum*/
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237); /*kvadratroden af 2 fra mellemrummet*/

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: #333;
  --background: #333;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 100%;
  position: absolute;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground-navbar);
  color: var(--background);
  right: 0;
  max-width: 10rem;
  min-height: 100vh;
  z-index: 1; /*for at rykke sidebaren et lag over billederne på siden*/
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

div a {
color: black;
text-decoration: none;
}

/* Header */

.site-header {
  display: flex;
  align-items: center;
  gap: 35px;                 
  padding: 10px 20px;
  background-color: #B9AFA1;
  text-align: center;
  height: 130px;
}


.site-header .logo{
  height: 100px;
  width: auto;
  margin-top: 35px; /* rykker logo ned */
  margin-left: -30px; /* rykker logo til venstre */
}

.site-header h1 {
  color: #406D42;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 ;  
}

.tagline,
.rubrik {
  text-align: center;
  Font-size: 18px;
  color: #333;
  margin: 20px 0;
}

main {
  max-width: 390px;
  margin: 0 auto;
  padding: 10px;
}

/* Rækker med billeder */

.row,
.galleri {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
}

/* Bøjede hjørner til billede */
.image-box,
.galleri {
  object-fit: cover;
  position: relative;
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
}

.image-box img {
  object-fit: cover;
  width: 100% /*!important*/;
  height: auto;
  display: block;
  overflow: hidden;
}
.galleri img {
  object-fit: cover;
  width: 100% /*!important*/;
  height: 10rem;
  display: block;
  overflow: hidden;
}

/* Tekstboks ovenpå billeder */
.overlay {
  position: absolute;
  top: 58%;                        
  left: 50%;                      
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.4);     
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  text-decoration: none;           /* fjern link streg */
  display: inline-block;           /* klikbar boks */
  cursor: pointer;
}

.image-box.tall img {
  max-height: 200px;
  object-fit: cover;
}

.image-box {
  position: relative;
  flex: 1;
}

main .row:last-of-type {
  margin-bottom: 20px;  /* mellemrum mellem billeder og footer */
}


/*footer*/
.footer {
  border-top: 2px solid black;  /*sort linje*/
  background-color: #d6cfc4;   
  padding: 10px 0;
}

.footer{
  font-size: 0.85rem;
  padding: 20px 0;
  line-height: 1.2;
  background: #cec8bf;
}

.footer__sections {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.footer__section {
  box-sizing: border-box;
  width: 25%;
  padding: 15px 0;
  flex-shrink: 0;
}

.footer__title {
  line-height: 0.5;
}

.footer .social-icons {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 35px;
  height: 35px;
  border-radius: 1px;
  padding: 0.5em;
}

@media screen and (max-width: 768px) { /*dette gør at teksten i footeren følger med siden, når den gøres mindre eller større*/
  .footer__section { width: 100%; }
}
