/* Hamburger menu */
*,
*::after, 
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #d6cfc4;
    max-width: 390px;
}

:root{
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input{
   content: ""; 
   width: var(--bar-width);
   height: var(--bar-height);
   background-color: var(--foreground);
   border-radius: 9999px;
   transform-origin: left center;
   transition: opacity var(--animation-timing), width var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}  




/* Header */

.site-header {
    
    display: flex;
    align-items: center;
    gap: 35px;                 
    padding: 10px 20px;
    background-color: #B9AFA1;
    text-align: center;
    height: 130px;
    
}


.site-header .logo{

    height: 100px;
    width: auto;
    margin-top: 35px; /* rykker logo ned */
    margin-left: -30px; /* rykker logo til venstre */


}

.site-header h1 {


    color: #406D42;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 ;
   
}


.tagline {

    text-align: center;
    Font-size: 18px;
    color: #333;
    margin: 20px 0;
}

main {
    max-width: 390px;
    margin: 0 auto;
    padding: 10px;
}

/* Rækker med billeder */

.row {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

/* Bøjede hjørner til billede */
.image-box {
    position: relative;
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
}

.image-box img {
    width: 100% !important;
    height: auto;
    display: block;
}

/* Tekstboks ovenpå billeder */
.overlay {
    position: absolute;
    top: 58%;                        
    left: 50%;                      
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.4);     
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;           /* fjern link streg */
    display: inline-block;           /* klikbar boks */
    cursor: pointer;
}

.image-box.tall img {
    max-height: 200px;
    object-fit: cover;
}

.image-box {
    position: relative;
    flex: 1;
}

main .row:last-of-type {
    margin-bottom: 20px;  /* Lille luft stykke ned til SOME fodnote */
}


/* === FODNOTE SOME === */
.footer {
    border-top: 2px solid black;  /*sort linje*/
    background-color: #d6cfc4;   
    padding: 10px 0;
 
}

.footer .social-icons {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    max-width: 390px;
    margin: 0 auto;
}

.footer .social-icons img {
  width: 35px;
  height: 35px;
}

