/* Hamburger menu */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #EEEAE4; /*baggrundsfarve på hjemmesiden*/
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: black; /*farve på hamburger bar*/
  --foreground-navbar: #B9AFA1; /*baggrundsfarve i menuen*/
  --background: black;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2); /*der er tre barer og mellemrum*/
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237); /*kvadratroden af 2 fra mellemrummet*/

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: black;
  --background: black;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 100%;
  position: absolute;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground-navbar);
  color: var(--background);
  right: 0;
  max-width: 10rem;
  min-height: 100vh;
  z-index: 1; /*for at rykke sidebaren op på øverste lag på siden*/
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

div a {
color: black;
text-decoration: none;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 16px;
    padding: 14px 16px;
    background: #B9AFA1;
}


.site-header .logo {
    height: 100px; 
    width: auto;
}


.site-header .page-title {
    margin: 0;
    color: #406D42;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left !important;
}

/*LAYOUT*/
.page-main, main {
    max-width: 420px;
    margin: 0 auto;
    padding: 24px 16px;
    min-height: 100vh;      
    box-sizing: border-box;
}

/* ===RÆKKER MED BILLEDER=== */
.row {
  display: flex;
  gap: 25px;
  margin-bottom: 70px;     /*luft mellem rækker*/
}

.image-box {
  position: relative;
  flex: 1;
}

.image-box img {
  width: 100%;
  display: block;
  border-radius: 14px;
  height: 140px;           
  object-fit: cover;       
}

.image-box .overlay {
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 15px;
  white-space: nowrap;
}

/* Søg */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin: 28px 0;
}

.search-container input[type="text"] {
  width: 260px;
  height: 44px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 2px solid #556729;
  background-color: #556729;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.search-container img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
}

.tagline {
  text-align: center;
  margin: 0 0 20px;
  color: #333;
  font-size: 17px;
  font-weight: 600;
}
/*footer*/
.footer {
  border-top: 2px solid black;  /*sort linje*/
  background-color: #d6cfc4;   
  padding: 10px 0;
}

.footer{
  font-size: 0.85rem;
  padding: 20px 0;
  line-height: 1.2;
  background: #cec8bf;
}

.footer__sections {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.footer__section {
  box-sizing: border-box;
  width: 25%;
  padding: 15px 0;
  flex-shrink: 0;
}

.footer__title {
  line-height: 0.5;
}

.footer .social-icons {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 35px;
  height: 35px;
  border-radius: 1px;
  padding: 0.5em;
}

@media screen and (max-width: 768px) {
  .footer__section { width: 100%; }
}


